<!-- Main Style -->
<style><%- include('style.css'); %></style>

<!-- Navbar -->
<style><%- include('navbar.css'); %></style>

<!-- Chavron -->
<style><%- include('./fas.css'); %></style>

<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">

<div class="nav-wrapper">
  <div class="container">
    <nav class="main-nav">
      <img src="/img/logo.jpg" id="logo" alt="Logo">

      <ul>
        <li><a href="/">Home <i class="fas fa-chevron-<%= dir == 'home' ? 'left' : 'right'%>"></i></a></li>
        <li><a href="/azienda">Azienda <i class="fas fa-chevron-<%= dir == 'azienda' ? 'left' : 'right'%>"></i></a></li>
        <li><a href="/servizi">Servizi <i class="fas fa-chevron-<%= dir == 'servizi' ? 'left' : 'right'%>"></i></a></li>
        <li><a href="/galleria">Galleria <i class="fas fa-chevron-<%= dir == 'galleria' ? 'left' : 'right'%>"></i></a></li>
        <li><a href="/concessionarie">Concessionarie <i class="fas fa-chevron-<%= dir == 'concessionarie' ? 'left' : 'right'%>"></i></a></li>
        <li><a href="/contatti">Contatti <i class="fas fa-chevron-<%= dir == 'contatti' ? 'left' : 'right'%>"></i></a></li>
      </ul>
    </nav>
  </div>
</div>
