<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="La nostra azienda offre alla clientela, da oltre 20 anni, un servizio accurato e garantito nella fornitura e nella posa specializzata di pavimenti e rivestimenti.">
  <title>Galleria - Nuovaceramica</title>
</head>
<body>
  <%- include('navbar'); %>

  <style><%- include('./style.css'); %></style>
  <div class="cards-wrapper">
    <div class="container">
      <section class="cards">

        <% cards.forEach(card => { %>
          <div class="card">
            <img src="./img/<%= card.i %>.jpg" alt="cart.title">
            <div class="card-body">
              <h2><%= card.title %></h2>
              <p><%= card.p %></p>
            </div>
          </div>
        <% }) %>
      </section>
    </div>
  </div>
</body>
</html>
