<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="La nostra azienda offre alla clientela, da oltre 20 anni, un servizio accurato e garantito nella fornitura e nella posa specializzata di pavimenti e rivestimenti.">
  <title>Galerie - Nuovaceramica</title>
</head>
<body>
  <%- include('navbar_de', {to: 'galleria'}); %>

  <style><%- include('./style.css'); %></style>
  <div class="cards-wrapper">
    <div class="container">
      <section class="filters">
        <a href="/galerie/piastrelle" <%- filter == 'piastrelle' ? 'class="clicked"' : '' %>>Fliesen und Natursteine</a>
        <a href="/galerie/resina" <%- filter == 'resina' ? 'class="clicked"' : '' %>>Harz</a>
        <a href="/galerie/stufe" <%- filter == 'stufe' ? 'class="clicked"' : '' %>>Öfen</a>
      </section>

      <section class="cards">

        <% cards.forEach(card => { %>
          <img src="/galleria/img/<%= card %>.jpg" class="card" alt="<%= card.title %>">
        <% }) %>
      </section>
    </div>
  </div>
</body>
<footer><%- include('footer'); %></footer>
</html>
